/* Fontes */

@font-face {

    font-family: font-caviarDreams;
    src: url('../fonts/CaviarDreams_Bold.ttf');

}


@font-face {

    font-family: font-signatra;
    src: url('../fonts/Signatra.ttf');

}

/* Corpo do site */

body {

    margin: 0px;
    padding: 0px;
    background-color: #f2eff2;

}

/* Cabeçalho */

header {

    width: 100%;
    height: 100px;
    background-color: #3b5998;
    position: fixed;
    z-index: 999;

}

#caixa_cabecalho {

    width: 1500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #3b5998;

}

#logo_Banca {

    width: 150px;
    height: 100%;
    float: left;
    background-image: url(../imagens/logo.png);
    background-size: 120px 120px;
    background-position: center;
    background-repeat: no-repeat;

}

#menu_principal {

    width: 1050px;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;

}

.itens_menu {

    width: auto;
    height: auto;
    float: left;
    margin-left: 22px;
    font-family: font-caviarDreams, monospace;
    font-weight: bold;
    font-size: 20px;
    color: #f2eff2;
    text-align: center;
    cursor: pointer;

}

a {

    color: inherit;
    text-decoration: none;

}

.itens_menu:hover {

    text-shadow: 0 0 8px #fff;

}

#login {

    width: 300px;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #f2eff2;
    font-family: font-caviarDreams, monospace;
    font-weight: bold;

}

.formulario {

    float: left;

}

label {

    margin-left: 15px;

}

.caixa_login {

    width: 100px;
    display: inline-block;
    border: 1px solid #ccc;
    margin-left: 15px;
    margin-top: 3px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;

}

.formulario input[type=submit] {

    height: 25px;
    width: 40px;
    display: inline-block;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 26px;
    background-color: white;
    border-radius: 4px;
    font-family: font-caviarDreams, monospace;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}

#social {

    width: 64px;
    height: 203px;
    position: absolute;
    margin-top: 200px;
    margin-left: 1510px;

}

.imagens_social {

    width: 64px;
    height: 64px;
    cursor: pointer;

}

.imagens_social:hover {

    transform: scale(1.1);

}

/* Rodapé */

footer {

    width: 100%;
    height: 100px;
    background-color: #212121;
    margin-top: 80px;

}

#conteudo_footer {

    padding-top: 40px;
    text-align: center;
    font-family: font-caviarDreams, monospace;
    font-size: 25px;
    font-weight: bold;
    color: #fff;

}

/* Página Index */

#principal_index {

    width: 1500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;

}

#menu_lateral_index {

    width: 10%;
    height: auto;
    font-family: arial;
    font-weight: bold;
    font-size: 19px;
    float: left;
    margin-top: 50px;

}

#lista_menu_lateral {

    padding: 0px;

}

.itens_lista, .subMenu_itens{

    list-style-type: none;
    width: 97%;
    text-align: center;
    height: 23px;
    background-color: #3b5998;
    cursor: pointer;
    color: #FFF;
    margin-bottom: 2px;
    margin-left: 5px;
    padding-top: 2px;

}

.itens_lista:hover, .subMenu_itens:hover{
    
    background-color: #273b63;
    
}

.subMenu{
    
    opacity: 0;
    overflow: hidden;
    width: 0;
    height: auto;
    padding: 0px;
    z-index: 999;
    position: relative;
    transition: 0.5s;
    margin-left: 146px;
    margin-top: -21px;
    
}

.itens_lista:hover .subMenu{
    
    width: 100%;
    opacity: 1;
    overflow: visible;
    transition: 1s;
    
}

#conteudo_produtos {

    width: 89%;
    height: auto;
    float: left;
    border-left: 6px solid #3b5998;
    margin-top: 50px;
}

.caixa_produtos {

    height: 385px;
    width: 385px;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    font-family: arial;
    font-weight: bold;
    font-size: 16px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.imagem_produto {

    width: 100%;
    height: 200px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.imagem {

    width: 200px;
    height: 200px;


}

.nome_produto{

    width: 98%;
    font-size: 1.3em;
    text-align: center;
    margin-top: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 1%;
    padding-right: 1%;
    
}

.preco_produto {

    width: 100%;
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;

}

.detalhes_produto {

    width: 75%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: solid 1px;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 10px;
    font-size: 22px;
    text-align: center;

}

.detalhes_produto:hover {

    background-color: #3b5998;
    transition: 0.5s;
    color: #fff;

}

/* Página notícias */

#principal_noticias {

    width: 1500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;

}

#conteudo_noticias {

    width: 1440px;
    min-height: 348px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.noticia {

    width: 432px;
    height: 320px;
    margin-top: 30px;
    float: left;
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 32px;

}

.noticia:hover {

    transform: scale(1.1);

}

.imagens_noticia {

    width: 100%;
    height: 60%;

}

.imagens_conteudo {

    width: 100%;
    height: 210px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.titulo_noticia {

    width: 414px;
    height: 115px;
    padding-top: 4%;
    font-family: arial;
    font-size: 27px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;

}

/* Página Sobre */

#principal_sobre {

    width: 1500px;
    min-height: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;


}

#conteudo_historia {

    width: 95%;
    height: auto;
    font-family: verdana;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 50px;

}

#imagem_banca {

    width: 730px;
    min-height: 450px;
    float: left;
    padding-left: 20px;
    display: flex;
    align-items: center;
    margin-top: 30px;

}

#imagemBanca {

    width: 700px;
    height: 450px;
    border-radius: 10px;

}

#historia_banca {

    width: 650px;
    height: auto;
    float: left;
    margin-top: 30px;

}

.titulo_pagina {

    width: 100%;
    height: 75px;
    font-family: font-signatra, Lucida Calligraphy;
    font-size: 75px;
    text-align: center;
    font-weight: bold;

}

.paragrafo {

    font-size: 21px;
    text-align: justify;

}

/* Página Promoções */

#principal_promocoes {

    width: 1500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;

}

#conteudo_promocoes {

    width: 1500px;
    height: auto;
    font-family: arial;
    margin-top: 50px;

}

#produtos_promocao {

    width: 98%;
    min-height: 348px;
    height: auto;

}

.caixa_produtos_promocao {

    height: 400px;
    width: 400px;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    font-family: arial;
    font-weight: bold;
    font-size: 16px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.imagem_produto_promocao {

    width: 100%;
    height: 200px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.imagens_promocao {

    width: 200px;
    height: 200px;


}

.produto_promocao {

    width: 100%;
    font-size: 1.3em;
    text-align: center;
    margin-top: 25px;
    
}

.preco {

    width: 100%;
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
    text-decoration: line-through;

}

.desconto {

    width: 100%;
    font-size: 1.3em;
    text-align: center;
    margin-top: 10px;

}

.detalhes_promocao {

    width: 75%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: solid 1px;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 10px;
    font-size: 22px;
    text-align: center;

}

.detalhes_promocao:hover {

    background-color: #3b5998;
    transition: 0.5s;
    color: #fff;

}

/* Página Nossas Bancas */

#principal_nossas_bancas {

    width: 1500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;

}

#conteudo_bancas {

    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    padding-bottom: 50px;

}

.caixa_bancas {

    width: 85%;
    height: 200px;
    text-align: center;
    border-bottom: solid 5px #3b5998;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.subtitulo {

    font-family: verdana;
    font-size: 25px;
    text-align: center;

}

.localizacao {

    font-family: arial;
    font-size: 45px;
    font-weight: bold;

}

.endereco {

    font-family: arial;
    font-size: 25px;

}

.telefone {

    font-family: arial;
    font-size: 25px;

}

/* Página Celebridade */

#principal_celebridade {

    width: 1500px;
    min-height: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;

}

#conteudo_celebridade {

    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#subtitulo_nome {

    font-family: font-signatra, Lucida Calligraphy;
    font-size: 50px;
    text-align: center;

}

#caixa_imagem_celebridade {

    width: 55%;
    height: 480px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-top: 20px;

}

#imagem_celebridade {

    width: 711px;
    height: 450px;
    border-radius: 10px;
}



#caixa_informacoes_celebridade {

    width: 510px;
    height: auto;
    background-color: white;
    font-family: verdana;
    font-size: 25px;
    margin-top: 130px;
    float: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.informacoes {

    margin-top: 20px;
    list-style: none;

}

#caixa_biografia {

    width: 97%;
    height: auto;
    font-family: verdana;
    text-align: justify;
    font-size: 20px;
    float: left;
    padding-left: 15px;

}

/* Página Fale conosco */

#principal_fale_conosco {

    width: 1500px;
    height: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;

}


#conteudo_fale_conosco {

    margin-top: 50px;
    width: 50%;
    height: 900px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.dados {

    width: 300px;
    height: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f2eff2;
    font-size: 18px;

}

#txtTelefone,
#txtCelular,
#sltSexo {

    width: 140px;

}

td {

    padding-top: 15px;

}

.td_esquerda {

    width: 55%;
    font-size: 20px;
    font-family: font-caviarDreams;
    text-align: center;

}

#td_botao {

    text-align: center;
    height: 75px;

}

input[type=submit] {

    margin-top: 50px;
    width: 95px;
    height: 50px;
    font-size: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #f2eff2;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
    font-family: font-caviarDreams;
    cursor: pointer;

}

table {

    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;

}
